body {
    margin: 0;
	padding: 0;
	width: 100%;
	height: auto;

}
.container {
    margin: 0 auto;
    max-width: 980px;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    float: right;
    margin-top: 30px;
}

.nav-list a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    margin-left: 50px;
}

.nav-list a:hover {
    color: red;
}

header {
    background-image: url("../css/img/1.png");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 75% auto;
    height: auto;
    font-size: 12px;
    padding-bottom:
}

.logo-pecodee {
    width: 100%;
}

.header-form {
    display: flex;
    justify-content: center;
    padding: 30px 0 200px 0;
}

.sent-request {
    text-align: center;
}

.feedback-form {
    display: grid;
}

header .main-nav:after {
    content: '';
    display: block;
    clear: both;
}

.header-form>div:nth-child(1) {
    width: 30%;
    float: left;
    margin: 120px 0 30px 0;
}

.header-form>div:nth-child(2) {
    width: 70%;
    float: right;
    box-sizing: border-box;
    padding-left: 90px;
}






/*    */
