body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    max-width: 1280px;
    margin: 0 auto;
}

/* container */

header {
    background-image: url("../css/img/1.png"),
                      url("../css/img/circle-right.png");
    background-position: top right, 0 400px;
    background-repeat: no-repeat;
    background-size: 75% auto, 12% auto;
    font-size: 12px;
}

.container {
    margin: 0 auto;
    max-width: 980px;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    float: right;
    margin-top: 30px;
}

.nav-list a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    margin-left: 50px;
}

.nav-list a:hover {
    color:#fc0202;
}

.logo-pecodee {
    display: block;
    max-width: 80%;
    height: auto;
}

.header-form {
    display: flex;
    justify-content: center;
    padding: 60px 0 100px 0;
}

.sent-request {
    text-align: center;
}

.feedback-form {
    display: grid;
}

header .main-nav:after {
    content: '';
    display: block;
    clear: both;
}

.header-form>div:nth-child(1) {
    width: 25%;
    float: left;
    margin: 120px 0 30px 0;
}

.header-form>div:nth-child(2) {
    width: 80%;
    float: right;
    box-sizing: border-box;
    padding: 10px 0 50px 190px;
}

/* container end */

/* button */

form{
	text-align: center;
}

form input:not([type="submit"]){
    width: 100%;
	padding: 5px 0;
	font-size: px;
	background: transparent;
	border: none;
	border-bottom: 2px solid #1ebca8;
	outline: none;
}

form input[type="text"]::placeholder{
	color: #d0d2d2;
	text-transform: uppercase;
}

form input[type="email"]::placeholder{
	color: #3d3a3a;
}

form input[type="submit"]{
	margin: 32px 0;
	padding: 10px 40px;
	border: none;
	border-radius: 5px;
	outline: none;
	background: linear-gradient(to right, #fb6a4e, #ff606a);
	color: #ffffff;
}

form input[type="submit"]:hover, form input[type="submit"]:active{
	background: linear-gradient(to left, #fb6a4e, #ff606a);
	color: #1ebca8;
	cursor: pointer;
}

form label{
	display: block;
	margin-top: 15px;
	text-align: left;
	color:#ffffff;
}

/* button end */

/*  container-second   */

.container-second {
    margin: 0 auto;
    max-width: 980px;
    padding: 20px 0 20px;
}

.srting {
    text-align: center;
    padding-bottom: 40px;
}

.one {
    display: flex;
    justify-content: space-around;
    padding-bottom: 40px;
}

.two {
    display: flex;
    justify-content: space-around;
}

.requirement-foto {
    display: block;
    width: 70%;
    height: auto;
    margin-left: 28px;
}

.product {
    margin: 1em 1em;
    border-radius: 5px;
    box-shadow: 0 0 30px 5px #ebebeb;
    padding: 0px 10px;
    background-color: #fafafa;
}

/*  container-second end  */

/*  container-third  */

.container-third {
    color: white;
    background: url("../css/img/2.png") #1ea992;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 50% auto;
    display: block;
}

.help {
    margin: 0 auto;
    max-width: 980px;
    padding-right: 0 0 20px 30px;
    display: grid;
    justify-content: end;
}

.class-help {
    display: flex;
}

.container-third p{
    margin: 0;
    padding: 30px 10px 30px 20px;
}

.help-title {
    text-align: left;
    margin: 0;
    padding-top: 20px;
}

#two-four, #two-four {
    padding-left: 80px;
}

.one-four {
    font-size: 40px;
}
/*  container third end  */

/*  container for  */

.container-for {
    text-align: center;
    background-image: url("../css/img/circle-left.png");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 10% auto;
    text-transform: uppercase;
    height: 550px;
}

.name-offer {
    font-weight: bold;
    padding:40px 0 20px;
}

.offer{
    margin: 0 auto;
    max-width: 980px;
    padding: 20px 0 20px;
    height: 100px;
}

.first-offer {
    display: flex;
    justify-content: space-around;
    padding-bottom: 40px;
}

.second-offer {
    display: flex;
    justify-content: space-around;
}

.offer-foto {
    width: 60%;
	height: auto
}

/*  container for end */

/*  footer  */

footer {
     background-image: url("../css/img/img-footer.png");
     background-size: cover;
     height: 500px;
     color: #ffffff;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}

.name-contact {
    text-align: center;
    padding-top: 120px;
}

footer a {
    margin-top: 20px;
    display: inline-block;
	width:32px;
	height:32px;
	margin-right: 25px;
}

.css-sprite-linkedin {
	background:url('../css/img/sotial/linkedin.png') 0px -0px;
}

.css-sprite-twitter {
	background:url('../css/img/sotial/twitter.png') -32px -0px;
}

.css-sprite-fb {
	background:url('../css/img/sotial/fb.png') -64px -0px;
}

.css-sprite-linkedin:active, .css-sprite-linkedin:hover{
	background:url('..css/img/sotial/linkedin-active.png') 0px -0px;
}

.css-sprite-twitter:active, .css-sprite-twitter:hover{
	background:url('..css/img/sotial/twiter-active.png') -32px -0px;
}

.css-sprite-fb:active, .css-sprite-fb:hover{
	background:url('..css/img/sotial/fb-active.png') -64px -0px;
}

footer section:nth-of-type(1){
	float: left;
	padding: 0 15px;
}

footer section:nth-of-type(2){
	float: right;
	padding: 0 15px;
}
footer section:nth-of-type(2) h2{
	text-align: left;
}



